//fonts
//fonts
$text-font: "Mulish", sans-serif;
$marker-font: "Permanent Marker", sans-serif;

//colors
//colors

$app-background: #171717;
$nav-bar-background: #242424;
$main-color: #36ff7c;
$neon-green: #36ff7c;

//global styles 
h1 {
  font-size: 8rem;
  font-weight: 900;
    text-align: center;
}
h2 {
  font-size: 7rem;
  font-weight: 900;
    text-align: center;
}
h3 {
  font-size: 6rem;
  font-weight: 900;
    text-align: center;
}
h4 {
  font-size: 3rem;
  font-weight: 900;
    text-align: center;
}
p {
  font-size: 1.8rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 12rem;
  }
  h2 {
    font-size: 10rem;
  }
  h3 {
    font-size: 8rem;
  }
  p {
    font-size: 2rem;
  }}



@mixin flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin focusAttribute {
  outline: none;
  border: 2px solid #41b883;
  border-radius: 10px;
}
